<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Cabeceras</servlet-name>
        <servlet-class>es.albarregas.servlets.Cabeceras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CicloVida</servlet-name>
        <servlet-class>es.albarregas.servlets.CicloVida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Saludo</servlet-name>
        <servlet-class>es.albarregas.servlets.Saludo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormCompleto</servlet-name>
        <servlet-class>es.albarregas.servlets.FormCompleto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormSimple</servlet-name>
        <servlet-class>es.albarregas.servlets.FormSimple</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormErrores</servlet-name>
        <servlet-class>es.albarregas.servlets.FormErrores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormErrorActualizado</servlet-name>
        <servlet-class>es.albarregas.servlets.FormErrorActualizado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormCorregir</servlet-name>
        <servlet-class>es.albarregas.servlets.FormCorregir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cabeceras</servlet-name>
        <url-pattern>/Cabeceras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CicloVida</servlet-name>
        <url-pattern>/CicloVida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Saludo</servlet-name>
        <url-pattern>/Saludo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormCompleto</servlet-name>
        <url-pattern>/FormCompleto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormSimple</servlet-name>
        <url-pattern>/FormSimple</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormErrores</servlet-name>
        <url-pattern>/FormErrores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormErrorActualizado</servlet-name>
        <url-pattern>/FormErrorActualizado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormCorregir</servlet-name>
        <url-pattern>/FormCorregir</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
